* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(235, 235, 235);
  color: rgb(69, 69, 69);
}

/* Extra small devices (phones, 600px and down) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: grid;
  grid-template-columns: auto auto 100px 100px;
  align-content: center;
  align-items: center;
  background-color: rgb(228, 228, 228);
  position: absolute;
  z-index: 5;
  left: 0;
  transition: margin-top 0.3s ease-in-out;
}
@media only screen and (max-width: 600px) {
  .header {
    grid-template-columns: auto auto auto auto;
  }
}
.header h1 a {
  text-decoration: none;
  color: #37190f;
}
.header h1 a:hover {
  color: rgba(183, 98, 1, 0.584);
}
@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .header--links {
    display: none;
  }
}
.header--links li {
  list-style: none;
  display: inline;
  margin-left: 20px;
  cursor: pointer;
}
.header--links li a {
  text-decoration: none;
  color: #37190f;
}
.header--links li a:hover {
  color: rgba(183, 98, 1, 0.584);
}
.header__search {
  width: 5vh;
  height: 5vh;
  transition: 200ms;
  border-radius: 1vh;
  cursor: pointer;
}
.header__search input {
  width: 5vh;
  height: 5vh;
  border: 0.4vh solid rgba(55, 25, 15, 0.0823529412);
  border-radius: 1vh;
  background-color: rgba(55, 25, 15, 0.1058823529);
  transition: 200ms;
  color: rgba(55, 25, 15, 0);
  cursor: pointer;
}
.header__search input::-moz-placeholder {
  color: rgba(55, 25, 15, 0);
}
.header__search input::placeholder {
  color: rgba(55, 25, 15, 0);
}
@media only screen and (max-width: 600px) {
  .header__search input {
    width: 30px;
    height: 30px;
  }
}
.header__search img {
  width: 3vh;
  height: 3vh;
  position: absolute;
  pointer-events: none;
  cursor: pointer;
  transition: 200ms;
  margin-left: 1vh;
  margin-top: 1vh;
}
@media only screen and (max-width: 600px) {
  .header__search img {
    width: 20px;
    height: 20px;
    margin-left: 1vh;
    margin-top: 0.8vh;
  }
}
.header__search:focus-within {
  background-color: rgba(55, 25, 15, 0.1058823529);
  width: 30vh;
  transform: translateX(-25vh);
}
.header__search:focus-within input {
  width: 30vh;
  height: 5vh;
  border: 0.4vh solid rgba(55, 25, 15, 0.0823529412);
  border-radius: 1vh;
  background-color: rgba(55, 25, 15, 0.1058823529);
  color: #37190f;
  cursor: pointer;
}
.header__search:focus-within input::-moz-placeholder {
  color: #37190f;
}
.header__search:focus-within input::placeholder {
  color: #37190f;
}
.header__search:focus-within img {
  margin-left: 25vh;
  margin-top: 1vh;
}
.header__search.change {
  position: absolute;
  width: 50vh;
  z-index: 6;
  top: 10vh;
  left: 35%;
}
.header__search.change input {
  width: 50vh;
  height: 7vh;
  cursor: text;
  color: #37190f;
}
.header__search.change input::-moz-placeholder {
  padding-left: 20vh;
  color: #37190f;
}
.header__search.change input::placeholder {
  padding-left: 20vh;
  color: #37190f;
}
.header__search.change img {
  margin-left: 45vh;
  margin-top: 2vh;
}
.header__search.change:focus-within {
  width: 50vh;
  height: 7vh;
  transform: translateX(0vh);
  background-color: rgba(55, 25, 15, 0.1058823529);
}
.header__search.change:focus-within input {
  width: 50vh;
  height: 7vh;
  background-color: rgba(55, 25, 15, 0.1058823529);
}
.header__search.change:focus-within img {
  margin-left: 45vh;
  margin-top: 2vh;
}
.header__returnSearch img {
  width: 5vh;
  position: absolute;
  top: 10vh;
  left: 5vh;
}
.header--shop {
  color: red;
  width: 40px;
}
@media only screen and (max-width: 600px) {
  .header--shop {
    width: 30px;
  }
}
.header--shop img {
  width: 100%;
}
.header .main__header__hamburger {
  background-color: rgb(228, 228, 228);
  display: none;
}
.header .main__header__hamburger span {
  display: block;
  background-color: #37190f;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 600px) {
  .header .main__header__hamburger {
    display: block;
  }
}

.primary-button {
  background-color: rgba(183, 98, 1, 0.584);
  color: rgba(255, 255, 255, 0.8274509804);
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  border-radius: 10px;
}
.primary-button:hover {
  background-color: #37190f;
  transition: background-color ease-in 0.3s;
}

/* Extra small devices (phones, 600px and down) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.main {
  display: grid;
  grid-template-columns: 30% 70%;
}
@media only screen and (max-width: 600px) {
  .main {
    grid-template-columns: auto;
    overflow: hidden;
  }
}
.main__left {
  width: 100%;
  height: 100vh;
  background-image: url("/images/resto.jpg");
  background-position: 100% -10%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15vh;
}
@media only screen and (max-width: 600px) {
  .main__left {
    display: none;
  }
}
.main__right {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main__infoBox {
  transform: scale(0);
  position: absolute;
  animation: fade ease-in 1s forwards;
}
.main__infoBox.current {
  position: relative;
  width: 50vh;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.8274509804);
  margin: auto;
  border-radius: 2vh;
  padding-left: 9vh;
  padding-right: 13vh;
  padding-top: 9vh;
  z-index: 2;
  transform: scale(1);
}
.main__headText {
  color: #37190f;
}
.main__headText ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 5vh;
  cursor: pointer;
}
.main__headText ul li a {
  text-decoration: none;
}
.main__headText ul:hover {
  font-weight: 700;
}
.main__headText h1 {
  display: block;
  font-weight: 800;
  margin-bottom: 1vh;
}
.main__headText h6 {
  display: block;
  color: #37190f;
  font-weight: 400;
  font-size: 1.5vh;
  margin-bottom: 2vh;
}
.main .active {
  font-weight: 700;
}
.main__stars {
  position: relative;
  background-color: rgba(183, 98, 1, 0.584);
  margin-top: 7vh;
  margin-bottom: 3vh;
  width: 8vh;
  height: 6vh;
  border-radius: 1.5vh;
}
.main__stars h1 {
  font-weight: 900;
  font-size: 8vh;
  position: absolute;
  top: -3vh;
}
.main__stars.two {
  background-color: rgba(54, 58, 23, 0.631372549);
  transform: translateX(-200px);
  transition: 2000ms ease-in ease-out;
}
.main__stars.three {
  background-color: rgba(219, 147, 59, 0.7058823529);
  transform: translateX(-200px);
  transition: 2000ms ease-in ease-out;
}
.main__icon {
  width: 20vh;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
}
.main__icon--like {
  cursor: pointer;
  background-color: rgba(55, 25, 15, 0.1058823529);
  width: 8vh;
  height: 8vh;
  border: 0.4vh solid rgba(55, 25, 15, 0.0823529412);
  border-radius: 1.7vh;
}
.main__icon--like img {
  width: 5vh;
  height: 5vh;
  margin: auto;
}
.main__icon--comment {
  cursor: pointer;
  background-color: rgba(55, 25, 15, 0.1058823529);
  width: 8vh;
  height: 8vh;
  border: 0.4vh solid rgba(55, 25, 15, 0.0823529412);
  border-radius: 1.7vh;
}
.main__icon--comment img {
  width: 5vh;
  height: 5vh;
  margin: auto;
}
.main__searchResult {
  transform: scale(0);
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  z-index: 5;
  right: 0;
  left: 0;
  top: 0;
  padding-top: 20vh;
  box-shadow: 2vh 1vh 20vh rgba(128, 128, 128, 0.167);
}
.main__searchResult.show {
  transform: scale(1);
}
.main__title {
  margin-top: 5vh;
  margin-left: 10vh;
  color: rgb(88, 88, 88);
  margin-left: 30vh;
}
.main__contentElement {
  color: rgb(123, 123, 123);
  display: grid;
  grid-template-columns: 25vh auto;
  margin-top: 5vh;
  margin-left: 30vh;
}
.main__contentElement img {
  width: 50vh;
}
.main__searchText {
  width: 100vh;
  margin-left: 30vh;
}
.main__humbourger {
  margin-left: -20px;
}
.main__humbourger span {
  display: block;
  background-color: #37190f;
  width: 5vh;
  height: 0.5vh;
  border-radius: 2vh;
  margin-bottom: 1vh;
}
.main__body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main__table {
  margin-top: 30vh;
  width: 200vh;
  height: 200vh;
  border-radius: 200vh;
  border: 30vh solid rgba(183, 98, 1, 0.5843137255);
  position: relative;
  box-shadow: -10px 10px 30px rgb(99, 98, 98);
  z-index: 3;
  transition: 1000ms;
}
@media only screen and (max-width: 600px) {
  .main__table {
    margin-top: 10vh;
    margin-left: -100px;
  }
}
.main__element {
  display: grid;
  grid-template-columns: auto auto;
  position: absolute;
  top: -10vh;
  left: 30vh;
}
@media only screen and (max-width: 600px) {
  .main__element {
    width: 400px;
    left: -200vh;
  }
}
.main__element img {
  width: 40vh;
}
@media only screen and (max-width: 600px) {
  .main__element img {
    display: none;
  }
}
.main .deg1 {
  transform: rotate(90deg) translateX(25vh) translateY(37.8vh);
}
.main .deg2 {
  transform: rotate(180deg) translateX(190vh) translateY(-120vh);
}
@media only screen and (max-width: 600px) {
  .main .deg2 {
    transform: rotate(180deg) translateX(190vh) translateY(-130vh);
  }
}
.main__text {
  color: #37190f;
  width: 40vh;
  top: -6vh;
  left: 5vh;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .main__text {
    display: block;
    width: 30px;
    margin-left: -14vh;
  }
}
.main__text h4 {
  font-weight: 700;
  font-size: 3vh;
}
@media only screen and (max-width: 600px) {
  .main__text h4 {
    font-weight: 200;
    font-size: 10px;
  }
}
.main__text h1 {
  font-weight: 900;
  font-size: 1vh;
}
@media only screen and (max-width: 600px) {
  .main__text h1 {
    font-size: 1vh;
  }
}
.main__text h1 span {
  font-weight: 100;
}
.main__text.toggle {
  color: #37190f;
  width: 40vh;
  top: -6vh;
  left: 5vh;
  position: relative;
  transition-delay: 2000vh;
  animation: textAnim 400ms cubic-bezier(0.91, 0.02, 0.55, 0.98) 500ms backwards;
}
.main__text.toggle h4 {
  font-weight: 700;
  font-size: 3vh;
}
.main__text.toggle h1 {
  font-weight: 900;
  font-size: 12vh;
}
.main__text.toggle h1 span {
  font-weight: 100;
}
@keyframes textAnim {
  0% {
    transform: translateX(200vh);
  }
  100% {
    transform: translateX(0);
  }
}
.main__carousel {
  position: absolute;
  bottom: 10vh;
  z-index: 4;
  right: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vh;
}
@media only screen and (max-width: 600px) {
  .main__carousel {
    width: 40vh;
  }
}
.main__direction img {
  width: 4vh;
}
.main__direction--right {
  rotate: 180deg;
}
.main__smallImages {
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  width: 60vh;
  height: 10vh;
  top: -10vh;
}
@media only screen and (max-width: 600px) {
  .main__smallImages {
    width: 30vh;
  }
}
.main__smallImages img {
  display: block;
  width: 13vh;
  bottom: -3vh;
  position: absolute;
}
@media only screen and (max-width: 600px) {
  .main__smallImages img {
    width: 300px;
  }
}
.main__smallImages p {
  width: 10vh;
  bottom: -5vh;
  position: relative;
  text-align: center;
  margin: auto;
  font-weight: 700;
  color: #37190f;
}
@media only screen and (max-width: 600px) {
  .main__smallImages p {
    font-size: 10px;
  }
}
.main__items {
  width: 10vh;
  height: 20vh;
  margin: auto;
  top: 19vh;
}
.main__items img {
  width: 10vh;
  height: 10vh;
  position: relative;
}
.main__items.mark {
  cursor: pointer;
  background-color: rgba(55, 25, 15, 0.1058823529);
  width: 8vh;
  height: 8vh;
  border: 0.4vh solid rgba(55, 25, 15, 0.0823529412);
  border-radius: 1.7vh;
  width: 15vh;
  height: 22vh;
  top: -5vh;
}
.main__items.mark img {
  width: 5vh;
  height: 5vh;
  margin: auto;
}
.main__items.mark img {
  width: 10vh;
  height: 10vh;
  position: relative;
}
.main__chair {
  position: absolute;
  bottom: 5vh;
  rotate: -45deg;
  left: 40vh;
  z-index: 1;
  animation: moveFromToptoBottom 1s ease-in-out forwards;
}
@media only screen and (max-width: 600px) {
  .main__chair {
    display: none;
  }
}

.banner {
  width: 100%;
  margin-top: 50px;
}

.speciality {
  background-color: #37190f;
  color: rgba(255, 255, 255, 0.8274509804);
  width: 90%;
  display: grid;
  grid-template-columns: 30% 70%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 25px;
  align-items: center;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .speciality {
    grid-template-columns: auto;
    gap: 20px;
  }
}
.speciality__title {
  padding-left: 40px;
  border-right: 1px solid rgba(255, 255, 255, 0.8274509804);
  margin: auto;
  display: grid;
}
.speciality__mainText {
  margin-left: 40px;
  padding-right: 50px;
}

.ingridients {
  color: rgb(69, 69, 69);
  padding-top: 100px;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 100px;
  padding-bottom: 200px;
}
@media only screen and (max-width: 600px) {
  .ingridients {
    grid-template-columns: auto;
  }
}
.ingridients__text h1 {
  margin-bottom: 30px;
  font-size: 40px;
}
.ingridients__text p {
  margin-bottom: 30px;
}
.ingridients__picture {
  display: grid;
  grid-template-columns: auto auto;
}
@media only screen and (max-width: 600px) {
  .ingridients__picture {
    grid-template-columns: auto;
  }
}
.ingridients__picture__image {
  border-radius: 20px;
  width: 80%;
  height: 420px;
  overflow: hidden;
}
.ingridients__picture__image img {
  width: 100%;
}
.ingridients__picture__image--up {
  border-radius: 40px;
  width: 80%;
  height: 420px;
  overflow: hidden;
  padding-bottom: -20px;
}
.ingridients__picture__image--up img {
  width: 100%;
}
.ingridients ul {
  width: auto;
}
.ingridients ul li {
  list-style: none;
  display: block;
  align-items: center;
  margin: 10px;
}
.ingridients ul li img {
  width: 20px;
  margin: auto;
  margin-right: 10px;
}

.chiefs {
  color: rgb(69, 69, 69);
  width: 80%;
  margin: auto;
}
.chiefs__title {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 700px;
  display: grid;
  grid-template-columns: auto auto;
}
@media only screen and (max-width: 600px) {
  .chiefs__title {
    grid-template-columns: auto;
    gap: 0;
  }
}
.chiefs__field {
  display: grid;
  grid-template-columns: auto auto auto;
}
@media only screen and (max-width: 600px) {
  .chiefs__field {
    grid-template-columns: auto;
  }
}
.chiefs__field__item {
  border-radius: 20px;
  border: 1px solid rgba(55, 25, 15, 0.0823529412);
  padding-top: 20px;
  margin-top: 100px;
  background-color: rgb(246, 243, 243);
  width: 300px;
  height: 400px;
  scale: 1;
}
.chiefs__field__item:hover {
  scale: 1.1;
  transition: scale 1s ease-in-out;
}
.chiefs__field__item__image {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 200px;
  overflow: hidden;
}
.chiefs__field__item__image img {
  width: 100%;
}
.chiefs__field__item__name {
  text-align: center;
  margin-top: 50px;
}
.chiefs__field__item__experience {
  text-align: center;
  color: #37190f;
}

.booking {
  width: 80%;
  margin: auto;
}
.booking__container {
  margin: auto;
  margin-top: 150px;
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 20px;
}
.booking__text {
  padding-top: 20px;
  border-top: 1px solid rgba(55, 25, 15, 0.0823529412);
  padding-bottom: 100px;
}

@keyframes moveFromToptoBottom {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.imageMenu {
  background-image: url("../../images/menuBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.imageMenu::before {
  content: "";
  width: 100%;
  background-color: #37190f;
  height: inherit;
  position: absolute;
  opacity: 0.6;
}
.imageMenu h1 {
  position: absolute;
  color: rgba(255, 255, 255, 0.8274509804);
  display: block;
  width: 100%;
  text-align: center;
  left: 0;
  top: 25%;
  font-size: 70px;
}

.theMenu {
  padding-top: 50px;
  width: 80%;
  margin: auto;
}
.theMenu ul {
  display: flex;
  gap: 40px;
  width: 53%;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(55, 25, 15, 0.0823529412);
  margin: auto;
}
.theMenu ul li {
  list-style: none;
  cursor: pointer;
}
.theMenu ul li:hover {
  color: rgba(183, 98, 1, 0.584);
}
.theMenu__container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.theMenu__container__item {
  position: relative;
  width: 300px;
  height: 400px;
  border: 2px solid rgba(183, 98, 1, 0.584);
}
.theMenu__container__item__title {
  display: block;
  text-align: center;
}
.theMenu__container__item__price {
  padding-top: 20px;
  width: 80%;
  margin: auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  align-items: center;
}
.theMenu__container__item__price button {
  padding: 10px;
  background-color: rgba(183, 98, 1, 0.584);
  width: 45px;
  height: 45px;
}
.theMenu__container__item__price button img {
  position: static;
  width: 100%;
}
.theMenu__container__item__grams {
  text-align: right;
  padding-right: 40px;
  margin-top: 170px;
}
.theMenu__container__item__description {
  padding-top: 10px;
  width: 80%;
  margin: auto;
}
.theMenu__container__item img {
  width: 200px;
  position: absolute;
  left: 50px;
  top: -50px;
}

.imageMenuAbout {
  background-image: url("../../images/menuBacktroundAbout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.imageMenuAbout::before {
  content: "";
  width: 100%;
  background-color: #37190f;
  height: inherit;
  position: absolute;
  opacity: 0.6;
}
.imageMenuAbout h1 {
  position: absolute;
  color: rgba(255, 255, 255, 0.8274509804);
  display: block;
  width: 100%;
  text-align: center;
  left: 0;
  top: 25%;
  font-size: 70px;
}

.mainAbout {
  display: grid;
  grid-template-columns: auto 50%;
  overflow: hidden;
}
.mainAbout__cover {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 50px;
  margin-left: 100px;
}
.mainAbout__cover__picture {
  position: relative;
  width: 250px;
}
.mainAbout__cover__picture img {
  width: 100%;
}
.mainAbout__cover__picture__names {
  position: absolute;
  top: 10px;
  right: -200px;
}
.mainAbout__cover__picture__names hr {
  background-color: #37190f;
  width: 100px;
  height: 1px;
  position: absolute;
  left: -120px;
  top: 14px;
}
.mainAbout__cover__picture--2nd {
  position: relative;
  width: 250px;
  margin-top: 100px;
}
.mainAbout__cover__picture--2nd__names {
  position: absolute;
  bottom: 10px;
  left: -200px;
}
.mainAbout__cover__picture--2nd__names hr {
  background-color: #37190f;
  width: 100px;
  height: 1px;
  position: absolute;
  right: -120px;
  top: 14px;
}
.mainAbout__cover__picture--2nd img {
  width: 100%;
}
.mainAbout__text {
  width: 70%;
  margin-left: 50px;
  display: relative;
  z-index: 3;
  margin-top: 100px;
}
.mainAbout__text h2 {
  padding-bottom: 20px;
}
.mainAbout__text ul {
  padding-top: 20px;
  margin-left: 30px;
}
.mainAbout__aboutUs {
  background-color: rgb(214, 214, 214);
  height: 500px;
  position: relative;
}
.mainAbout__aboutUs__chiffre {
  color: rgb(235, 235, 235);
  font-size: 300px;
  font-weight: 900;
  width: 300px;
  height: 300px;
  position: absolute;
  right: -150px;
  top: -80px;
  rotate: -20deg;
}

.bannerAbout {
  margin-top: 100px;
  padding: 70px;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #37190f;
  color: rgba(255, 255, 255, 0.8274509804);
}
.bannerAbout h1 {
  margin-right: 50px;
}

.giveBack {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 20px;
  overflow: hidden;
}
.giveBack__title {
  background-color: rgba(183, 98, 1, 0.584);
  color: rgba(255, 255, 255, 0.8274509804);
  height: 900px;
}
.giveBack__title__image {
  display: grid;
  grid-template-columns: auto auto;
  position: absolute;
  left: 300px;
  height: 450px;
  width: 600px;
  overflow: hidden;
  position: relative;
}
.giveBack__title__image__theImages {
  width: 2100px;
  height: 400px;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
}
.giveBack__title__image__theImages img {
  display: inline;
  width: 30%;
}
.giveBack__title__image__leftSide {
  position: absolute;
  z-index: 1;
  grid-template-rows: auto;
  justify-content: space-between;
  background-color: #37190f;
  width: 70px;
  height: 400px;
  bottom: 50px;
}
.giveBack__title__image__leftSide h5 {
  margin-top: 40px;
  margin-left: 10px;
}
.giveBack__title__image__leftSide__direction {
  position: absolute;
}
.giveBack__title__image__leftSide__direction img {
  padding-top: 300px;
  width: 20px;
  margin-left: 10px;
}
.giveBack__title__image__leftSide__direction__2nd {
  rotate: 180deg;
  position: absolute;
  top: 300px;
}
.giveBack__title h1 {
  width: 350px;
  text-align: left;
  margin-left: 100px;
  margin-top: 100px;
}
.giveBack__description {
  margin-left: 100px;
  margin-top: 100px;
  width: 300px;
}
.giveBack__description h2 {
  margin-bottom: 20px;
}

.imageContact {
  background-image: url("../../images/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.imageContact::before {
  content: "";
  width: 100%;
  background-color: #37190f;
  height: inherit;
  position: absolute;
  opacity: 0.6;
}
.imageContact h1 {
  position: absolute;
  color: rgba(255, 255, 255, 0.8274509804);
  display: block;
  width: 100%;
  text-align: center;
  left: 0;
  top: 25%;
  font-size: 70px;
}

.contactField {
  padding-bottom: 100px;
}
.contactField__container {
  width: 70%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  margin: auto;
  margin-top: 50px;
}
.contactField__container__contactInfo__item {
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  margin-bottom: 10px;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid rgb(218, 218, 218);
}
.contactField__container__contactInfo__item__icon {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: rgba(183, 98, 1, 0.584);
}
.contactField__container__contactInfo__item__icon img {
  width: 80%;
}
.contactField__container__contactInfo__item__text {
  text-align: left;
}
.contactField__container__contactForm {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 50px;
  border: 1px solid rgb(218, 218, 218);
}
.contactField__container__contactForm form {
  margin: 0px;
}
.contactField__container__contactForm form input {
  border: 1px solid rgb(218, 218, 218);
  width: 250px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.contactField__container__contactForm form input::-moz-placeholder {
  padding-left: 10px;
}
.contactField__container__contactForm form input::placeholder {
  padding-left: 10px;
}
.contactField__container__contactForm form textarea {
  border: 1px solid rgb(218, 218, 218);
  width: 523px;
  height: 100px;
  margin-bottom: 10px;
  margin-bottom: 30px;
}
.contactField__container__contactForm form textarea::-moz-placeholder {
  padding-left: 10px;
}
.contactField__container__contactForm form textarea::placeholder {
  padding-left: 10px;
}
.contactField__container__contactForm h3 {
  padding-bottom: 10px;
}
.contactField__container__contactForm p {
  padding-bottom: 30px;
}

.map {
  padding-top: 100px;
  margin: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-bottom: 100px;
}
.map__text {
  width: 70%;
  text-align: center;
  margin: auto;
}
.map__maps {
  padding-top: 50px;
  width: 68%;
  margin: auto;
}

/* Extra small devices (phones, 600px and down) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.footer {
  width: 100%;
  background-color: rgb(228, 228, 228);
}
.footer__container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media only screen and (max-width: 600px) {
  .footer__container {
    grid-template-columns: auto;
  }
}
.footer h2 {
  padding-bottom: 20px;
}
.footer li {
  list-style: none;
}/*# sourceMappingURL=main.css.map */