@import "../base//mixins";
.footer {
  width: 100%;
  background-color: rgb(228, 228, 228);
  &__container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 50px;

    padding-bottom: 50px;

    @include extra-small {
      grid-template-columns: auto;
    }
  }
  h2 {
    padding-bottom: 20px;
  }
  li {
    list-style: none;
  }
}
