$primary-color: #37190f;
$color-text: rgb(101, 100, 100);
$Lighten-primary-color: #37190f1b;
$color-table: #404040a2;
$second-color: rgba(183, 98, 1, 0.584);
$color-background: #e0e0e0;
$color-backgroundOpac: #ffffffd3;
$color-border-botton: #37190f15;
