$primary-color: #37190f;
$color-text: rgb(69, 69, 69);
$Lighten-primary-color: #37190f1b;
$color-table: #404040a2;
$color-borders: rgb(218, 218, 218);
$second-color: rgba(183, 98, 1, 0.584);
$color-background: #e0e0e0;
$color-backgroundOpac: #ffffffd3;
$color-border-botton: #37190f15;
