.imageMenuAbout {
  background-image: url("../../images/menuBacktroundAbout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  &::before {
    content: "";
    width: 100%;
    background-color: $primary-color;
    height: inherit;
    position: absolute;
    opacity: 0.6;
  }
  h1 {
    position: absolute;
    color: $color-backgroundOpac;

    display: block;
    width: 100%;
    text-align: center;
    left: 0;
    top: 25%;
    font-size: 70px;
  }
}
.mainAbout {
  display: grid;
  grid-template-columns: auto 50%;
  overflow: hidden;
  &__cover {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
    margin-left: 100px;
    &__picture {
      position: relative;
      width: 250px;
      img {
        width: 100%;
      }
      &__names {
        position: absolute;
        top: 10px;
        right: -200px;
        hr {
          background-color: $primary-color;
          width: 100px;
          height: 1px;
          position: absolute;
          left: -120px;
          top: 14px;
        }
      }
      &--2nd {
        position: relative;
        width: 250px;
        margin-top: 100px;
        &__names {
          position: absolute;
          bottom: 10px;
          left: -200px;
          hr {
            background-color: $primary-color;
            width: 100px;
            height: 1px;
            position: absolute;
            right: -120px;
            top: 14px;
          }
        }
        img {
          width: 100%;
        }
      }
    }
  }
  &__text {
    width: 70%;
    margin-left: 50px;
    display: relative;
    z-index: 3;
    margin-top: 100px;
    h2 {
      padding-bottom: 20px;
    }
    ul {
      padding-top: 20px;
      margin-left: 30px;
    }
  }
  &__aboutUs {
    background-color: rgb(214, 214, 214);
    height: 500px;
    position: relative;

    &__chiffre {
      color: rgb(235, 235, 235);
      font-size: 300px;
      font-weight: 900;
      width: 300px;
      height: 300px;
      position: absolute;
      right: -150px;
      top: -80px;
      rotate: -20deg;
    }
  }
}
.bannerAbout {
  margin-top: 100px;
  h1 {
    margin-right: 50px;
  }
  padding: 70px;
  display: grid;
  grid-template-columns: auto auto;

  background-color: $primary-color;
  color: $color-backgroundOpac;
}
.giveBack {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 20px;
  overflow: hidden;
  &__title {
    background-color: $second-color;
    color: $color-backgroundOpac;
    height: 900px;

    &__image {
      display: grid;
      grid-template-columns: auto auto;
      position: absolute;
      left: 300px;
      height: 450px;
      overflow: hidden;
      img {
        width: 700px;
      }
      &__leftSide {
        display: grid;
        grid-template-rows: auto;
        justify-content: space-between;
        background-color: $primary-color;
        width: 70px;
        height: 700px;
        h5 {
          margin-top: 40px;
          margin-left: 10px;
        }
        &__direction {
          img {
            padding-top: 350px;
            width: 40px;
            margin-left: 10px;
          }
        }
      }
    }
    h1 {
      width: 350px;
      text-align: left;
      margin-left: 100px;
      margin-top: 100px;
    }
  }
  &__description {
    margin-left: 100px;
    margin-top: 100px;
    width: 300px;
    h2 {
      margin-bottom: 20px;
    }
  }
}
